.elevateHover {
  transition: 0.3s;
}

.elevateHover:hover {
  cursor: pointer;
}

:where([data-mantine-color-scheme="dark"]) .elevateHover:hover {
  box-shadow: 3px 3px 3px #3d3d3d;
}

:where([data-mantine-color-scheme="light"]) .elevateHover:hover {
  box-shadow: 3px 3px 3px #e1e1e1;
}
